<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.freeboard04.domain.goodContentsHistory.GoodContentsHistoryMapper">
    <select id="countByBoardIn" resultType="goodHistoryVo">
        SELECT boardId as groupId, count(*) as likeCount
        FROM good_contents_history
        WHERE boardId IN <foreach collection="boards" item="board" index='i' open="(" close=")" separator=",">#{board.id}</foreach>
        GROUP BY boardId
    </select>
</mapper>
